.calculator__output {
    font-size: 4.2rem;
    text-align: end;
    background: hsl(255, 100%, 100%);
    /*color: hsl(255, 100%, 100%);*/
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-end: 0.75rem;
}
